.navbar-left {
    margin-right: 50px;
}
.nav-link {
    text-align: center;
}
.nav-link img {
    width: 110px;
    height: 50px;
}
.centered-nav {
    display: flex;
    justify-content: center; /* Centers flex items horizontally */
}
.navbar-nav {
    align-items: center;
    gap: 10px;
}
